:root {
    --color-orange: #f1b128;
}

body{
    margin: 0;
}

#header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 900px;
    color: white;
}

span {
    color: var(--color-orange);
}

.smart-design {
    width: 60%;
    border: 1px solid #ffffff;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 45px 0;
    background-color: rgba(0, 0, 0, .4);
}

.header-content {
    padding-top: 531px;
    padding-left: 13%;
}

.header-content>div:first-child {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
}

.header-content>div:nth-child(2) {
    margin-bottom: 14px;
}

/*main*/

.main_header {
    text-align: center;
}

.main_header>h2 {
    text-transform: uppercase;
    font-size: 1.37em;
    margin-top: 69px;
}

.main_header>hr {
    width: 60px;
    height: 3px;
    background-color: var(--color-orange);
    border: none;
    margin-top: 52px;
}

.main_award_image {
    text-align: center;
    margin-top: 65px;
}

.block-navigation {
    width: 80%;
    margin: 60px auto;
    border-bottom: 3px solid var(--color-orange);
    overflow: auto;
}

.block-navigation>div {
    width: 30%;
    float: left;
    text-transform: uppercase;
    color: var(--color-orange);
    font-size: 2em;
    font-weight: bolder;
}

.block-navigation>ul {
    width: 70%;
    float: left;
    margin: 0;
    padding: 0;
}

.block-navigation li {
    list-style-type: none;
    float: left;
    margin-left: 4%;
    line-height: 40px;
}

.block-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3d3d3d;
}

.block-navigation a:hover {
    color: var(--color-orange);
}

.business-consulting {
    width: 80%;
    margin: 0 auto;
}

.business-consulting .block-image {
    width: 48%;
    overflow: auto;
    float: left; 
}


.block-image div {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 48%;
    height: 148px;
    margin: 20px 0;

}

.block-image div:nth-child(1) {
    background: url("../img/arms.png");
    margin: 20px 20px 20px 0;
}

.block-image div:nth-child(2) {
    background: url("../img/woman.png");

}

.block-image div:nth-child(3) {
    background: url("../img/man.png");
    margin: 20px 20px 20px 0;
}

.block-image div:nth-child(4) {
    background: url("../img/shower.png");
}


.block-text {
    width: 48%;
    overflow: auto;
    float: right;
    line-height:20px;
    font-size: 14px;
}

.block-text h2 {
   text-transform: uppercase;
   font-size: 18px;
    color: #333333;
}
.block-text h2 span {
    color: var(--color-orange)
}
.block-text p {
   color:#7f7f7f;
   font-size: 14px;
   text-align: justify;
   padding: 12px 0;
}
.block-text button {
    width:176px;
    height: 51px;
    background-color: var(--color-orange);
    color: #ffffff;
    font-size: 14px;

}

.speed {
    background-image: url(../img/speed.png);
    background-size: cover;
    width: 100%;
    height: 380px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.speed_title h2 {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 150px;
    text-align: center;
}
.speed_title h2 span {
color: var(--color-orange);
}
.speed_title>hr{
    width: 60px;
    height: 3px;
    background-color: var(--color-orange);
    border: none;
    margin-top: 52px;
}
.company-secret{
    background-image: url("../img/tochki.png");
    margin: 0;
    
}
.company-secret_title{
    text-align: center;
    margin-top: 0;
}
.company-secret_title>h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 114px;
    margin-bottom: 14px;
    margin-top: 0;
    
}
.company-secret_title>hr{
    width: 60px;
    height: 3px;
    background-color: var(--color-orange);
    border: none;
    margin-top: 50px;
}
.company-secret_photos{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 53px;
}
.diana{
    background-image: url("../img/diana.png");
    background-repeat: no-repeat;
    height: 178px;
    width: 193px;
}    
.diana-text{
    border: 2px solid #333333;
    background-color: #333333;
    color: white;
    margin: 141px 43px 15px 14px;
}
.diana-text span{
    color: var(--color-orange);
}
.gladys{
    background-image: url("../img/gladys.png");
    height: 178px;
    width: 193px;
    margin-left: 3px;
}
.gladys-text span{
    color: var(--color-orange);
}
.kenneth{
    background-image: url("../img/kenneth.png");
    height: 178px;
    width: 193px;
    margin-left: 3px;
}
.border{
    border: 2px solid #333333;
    background-color: #333333;
    color: white;
    margin: 141px 43px 15px 14px;
}
.craig{
    background-image: url("../img/craig.png");
    height: 178px;
    width: 193px;
    margin-left: 3px;
}
.robert{
    background-image: url("../img/robert.png");
    height: 178px;
    width: 193px;
    margin-left: 3px;
}
.katherin{
    background-image: url("../img/katherin.png");
    height: 178px;
    width: 193px;
    margin-left: 3px;
}
.company-secret_photos2{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    
}
.porter{
    background-image: url("../img/porter.png");
    height: 178px;
    width: 193px;
    margin-left: 3px;
}
.border2{
    border: 2px solid #333333;
    background-color: #333333;
    color: white;
    width: 100px;
    height: 20px;
    position: relative;
    top: 141px;
    left: 14px;
}